/* fonts */

@import url('https://fonts.googleapis.com/css?family=Overpass:300i,600');

/* Normalistatie */

* {
    font-family: "Myriad Pro", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e45d6c;
    /* background-image: url(../images/texture.png); */
}

.container {
    width: 80%;
    margin: 0 auto;
}


/* HEADER CSS */

header {
    background: url('../images/headerBackground.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 200px;
    overflow: hidden;
}

header #logo {
    box-sizing: border-box;
    width: auto;
    float: left;
    height: 100%;
    margin: 0 10px 20px 10px;
}

header #logo img {
    max-width: 100%;
    height: 100%;
}

header #slogan {
    float: left;
    margin-top: 40px;
}

header #slogan h1 {
    color: #e45d6c;
    font-family: "Overpass ", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 3.75em;
    /* 3.75 * 16 = 60PX */
    letter-spacing: -3px;
}

header #slogan h1 em {
    font-style: normal;
    color: #952532;
    display: block;
    margin-top: -10px;
    letter-spacing: 0;
    font-weight: 600;
}


/* navigatie css */

#topnav {
    min-height: 60px;
    width: 100%;
    background-color: #de3c4e;
    display: block;
}

.login {
    margin-right: 10px;
    margin-top: 10px;
}

.login div {
    float: left;
    margin-left: 20px;
}

.login label {
    display: block;
    float: left;
    clear: both;
}

.login input {
    float: left;
    clear: both;
}

.login label {
    color: #ffc8ce;
}

.login label a {
    color: #5d4d4f;
    text-decoration: none;
}

.login input[type=email],
.login input[type=password] {
    /*background-color: #ffc8ce;*/
    border: 1px solid #6c1b24;
    padding-top: 2px;
}

.login input[type=submit] {
    background-color: #952532;
    border-radius: 2px;
    color: #ffc8ce;
    border: 1px solid #6c1b24;
    padding: 2px 10px 0 10px;
}

.profielfoto {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.gebruikernaam {
    margin-top: 20px;
}



#topnav ul {
    list-style: none;
}

#topnav ul li {
    display: inline-block;
    box-sizing: border-box;
    float: right;
    margin-top: 20px;
    position: relative;
}

#topnav a {
    display: block;
    color: #6c1b24;
    text-decoration: none;
    padding: 0 10px;
}

#topnav a:hover {
    color: #e79d9d;
}

#topnav a.instellingen {
    height: 40px;
    width: 40px;
    background-image: url('../images/gear.png');
    background-repeat: no-repeat;
    background-size: 100% 200%;
    padding: 0;
    margin-top: -10px;
}

#topnav a.instellingen:hover {
    background-position-y: -40px;
}


/* submenu */

#topnav li>ul {
    position: absolute;
    z-index: 3;
    float: none;
    top: 30px;
    right: 0;
    display: none;
}

#topnav ul li:hover>ul {
    display: block;
}

#topnav li>ul li {
    clear: both;
    margin: 0;
    float: right;
}

#topnav li>ul a {
    color: #881f2b;
}

#topnav li>ul a:hover {
    color: #e79d9d;
}

#topnav li>ul li {
    background-color: #de3c4e;
    width: 100%;
    text-align: right;
    padding: 5px 0 5px 5px;
    border: 1px solid #e79d9d;
    border-bottom: none;
}

#topnav li>ul li:last-child {
    border-bottom: 1px solid #e79d9d;
}


/* MAIN */

main {
    background-color: white;
}

main h2 {
    margin-bottom: 20px;
}

main p {
    margin-bottom: 20px;
    color: #881f2b;
    font-weight: bold;
}


/* 2 COL STRUCTURE */


/* COL1 */

.col1,
.col2 {
    box-sizing: border-box;
    padding: 10px;
}


/* COL2 */

.col1 {
    width: 12.5%;
}


/* kolom navigatie */

.profileNav ul li {
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    padding: 15px 10px;
    background-color: #952532;
    overflow: hidden;
}

.profileNav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffc8ce;

}

.profileNav ul li a.active {
    padding-bottom: 3px;
    border-bottom: 1px solid #ffc8ce;
}

.profileNav ul li:hover a {


    border-bottom: 1px solid #ffc8ce;
}



.col2 {
    width: 87.5%;
}

.col {
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
}

.col:first-child {
    padding-left: 0;
}

.col:nth-child(2) {
    padding-right: 0;
}

.padbox {
    padding: 10px;
    background-color: #de3c4e;
}


/* footer */

footer {
    background-color: #e45d6c;
    color: white;
}


/******* Registreren *********/

main>h1 {
    text-align: center;
    color: #de3c4e;
    padding-top:2%;
}

#registreer {
    margin: auto;
    width: 25em;
    color: #de3c4e;
}

#registreer label,
#registreer fieldset {
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
}

#registreer fieldset {
    margin-top: 4%;
    border: none;
    clear: both;
}

#registreer label,
#registreer input {
    float: left;
}

#registreer label {
    margin-bottom: 1%;
    width: 10em;
    clear: left;
}

#registreer input {
    width: 50%;
}

#registreer input[type=submit] {
    padding: 3px 10px;
    cursor: pointer;
    margin: 5%;
    margin-left: 25%;
}

#registreer input[type=submit]:hover {
    background-color: #ffc8ce;
    color: #881f2b;
}

#registreer label input {
    background-color: white;
    float: none;
    display: inline-block;
}
#registreer textarea{
    margin: auto;
    width: 50%;
    padding:2%;
    display: block;
    /*float:left;
    clear: both;*/
}
#registreer li{
    list-style: none;
    width: 50%;
    margin: auto;
    text-align: center;
}
#registreer img{
    width: 25em;
   height: 25em;
   left:-50%;
   position:relative;
    border-radius: 50%;
}
#registreer p {
    margin-top: 2em;
    text-align:center;
}
#registreer .verberg{
    display: none;
}

/* OPMAAK FORMS VOORKEUREN / KENMERKEN */

main {
    color: #ffc8ce;
    min-height: 800px;
}

main label,
fieldset {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

main form p {
    box-sizing: border-box;
    display: block;
    margin-top: 20px;
    max-width: 70%;
    font-size: 0.8em;
    color: #881f2b;
    font-weight: normal;
}

main label:first-child,
fieldset {
    margin-top: 0;
}

select {
    margin-top: 20px;
}

main label input,
main label select {
    float: right;
    display: block;
}

fieldset {
    float: left;
    border: none;
    clear: both;
    width: 100%;
}

fieldset div {
    float: right;
    padding-left: 10px;
}

label em {
    float: right;
    font-style: normal;
}

input[type=text],
input[type=date],
input[type=radio],
input[type=submit],
input[type=password],
input[type=email],
select {
    background-color: #881f2b;
    border: 1px solid #ffc8ce;
    padding-top: 2px;
    color: #ffc8ce;
    padding-left: 2px;
}

input[type=text],
input[type=date] input[type=password],
select {
    width: 200px;
}

main input[type=submit] {
    padding: 3px 10px;
    cursor: pointer;
}

main input[type=submit]:hover {
    background-color:#ffc8ce ;
      color: #881f2b;
}

/* error weergave */
.error {
    color: white;
    font-weight: bold;
}

.error:before {
    content: "* ";
}


/* registratie error */
.regError {
    color: red;
    font-weight: bold;
}

.regError:before {
    content: "* ";
}

/* chosen multibox */

.chosen-container {
    margin-top: 20px;
    width: 100%;
}


/* RADIO STYLING */


/* RANGE SLIDER */

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #881f2b;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 5px;
    background: #881f2b;
    cursor: pointer;
    margin-top: -9px;
    border: 1px solid #ffc8ce;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffc8ce;
}


/******** Matches *********/


/* Kleuren */

.matches {
    border-top-color: #ffc8ce;
   background: white;
}

.matches h1{
    color: #881f2b;
}

ul {
    border-bottom-color: #881f2b;
    color: #881f2b;
}


/* Structuur */

.matches {
    border-top-style: solid;
    border-top-width: 5px;
    /* outline: red 1px dotted;*/
    padding-bottom: 2em;
}

.matches h1 {
    margin: 1em;
    text-align: center;
}

.matches .profielFoto {
    width: 10em;
    height: 10em;
    /* outline: red 1px dotted;*/
}

.matches .profielFoto img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.matches ul {
    margin-top: 1em;
    margin-bottom: 1em;
    float: left;
    list-style: none;
    clear: left;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
}

.matches ul:last-child {
    border: none;
}

.matches ul li {
    float: left;
    margin-right: 1em;
    clear: right;
    /*width: 15%;*/
}

.matches .rechts {
    float: right;
}
main .matches input[type=submit]{
    margin: auto;
    width:25%;
    display: block;
    
    font-size: 2em;
}

/******* GENERIC CSS *******/


/* clearfix */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}


/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* close commented backslash hack */


/* Floats */

.left {
    float: left;
}

.right {
    float: right;
}


