/* fonts */

@import url('https://fonts.googleapis.com/css?family=Overpass:300i,600');

/* Normalistatie */

* {
    margin: 0;
    padding: 0;
}

/* einde normalisatie */

.container {
    width: 80%;
    margin: 0 auto;
}

/********** KLEUREN **********/

/* algemeen */
body {
    background-color: #e45d6c;
}

/* header */
header #slogan h1 {
    color: #e45d6c;
}

header #slogan h1 em {
    color: #952532;
}

/* top navigatie */

#topnav {
    background-color: #de3c4e;
}

/* login */

.login label {
    color: #ffc8ce;
}

.login label a {
    color: #5d4d4f;
}

.login input[type=submit] {
    background-color: #952532;
    color: #ffc8ce;
    border-color: #6c1b24;

}



.login input[type=email],
.login input[type=password] {
    border-color: #6c1b24;
}

#topnav a {
    color: #6c1b24;
}

#topnav a:hover {
    color: #e79d9d;
}

#topnav li>ul a {
    color: #881f2b;
}

#topnav li>ul a:hover {
    color: #e79d9d;
}

#topnav li>ul li {
    background-color: #de3c4e;
    border-color:#e79d9d;
}

#topnav li>ul li:last-child {
    border-bottom-color: #e79d96;
}

/* einde login */

/* einde header */

/* profiel navigatie (sidemenu) */

.profileNav ul li {
    background-color: #952532;
}

.profileNav ul li a {
    color: #ffc8ce;
}

.profileNav ul li a.active {
    border-bottom-color: #ffc8ce;
}

.profileNav ul li:hover a {


    border-bottom-color: #ffc8ce;
}


/* einde profiel navigatie */

/* algemene paginas */
main {
    background-color: white;
    color: #ffc8ce;
}

main p {
    color: #881f2b;
}

.padbox {
    background-color: #de3c4e;
}

footer {
    background-color: #e45d6c;
    color: white;
}

main>h1 {
    color: #de3c4e;
}
/* einde algemeen */

/* registratie */
#registreer {
    color: #de3c4e;
}


#registreer input[type=submit]:hover {
    background-color: #ffc8ce;
    color: #881f2b;
}

#registreer label input {
    background-color: white;
}



main form p {
    color: #881f2b;
}

input[type=text],
input[type=date],
input[type=radio],
input[type=submit],
input[type=password],
input[type=email],
input[type=file],
select {
    background-color: #881f2b;
    color: #ffc8ce;
    border-color:#ffc8ce;
}


main input[type=submit]:hover {
    background-color:#ffc8ce ;
    color: #881f2b;
}

/* error berichten validatie */

.error {
    color: white;
}

.regError {
    color: red;
}

/* range op form */

input[type=range]::-webkit-slider-runnable-track {
    background: #881f2b;
}

input[type=range]::-webkit-slider-thumb {
    background: #881f2b;
    border-color: #ffc8ce;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffc8ce;
}



/*************** EINDE KLEUREN *********************/

/**************** TYPOGRAFIE ***********************/

* {
    font-family: "Myriad Pro", sans-serif;
}

header #slogan h1 {
    font-family: "Overpass ", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 3.75em; /* 3.75 * 16 = 60PX */
    letter-spacing: -3px;
}

header #slogan h1 em {
    font-style: normal;
    letter-spacing: 0;
    font-weight: 600;
}

.login label a {
    text-decoration: none;
}

#topnav a {

    text-decoration: none;

}

main p {
    font-weight: bold;
}

#registreer li{
    text-align: center;
}

#registreer p {
    text-align:center;
}

main form p {
    font-size: 0.8em; /* 12.8 px */
    font-weight: normal;
}

label em {
    float: right;
    font-style: normal;
}

/* error weergave */
.error {
    font-weight: bold;
}

/* registratie error */
.regError {
    font-weight: bold;
}

/************* EINDE TYPOGRAFIE ********************/

/************* STRUCTUUR **************************/

/* HEADER CSS */

header {
    background: url('../images/headerBackground.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 200px;
    overflow: hidden;
}

header #logo {
    box-sizing: border-box;
    width: auto;
    float: left;
    height: 100%;
    margin: 0 10px 20px 10px;
}

header #logo img {
    max-width: 100%;
    height: 100%;
}

header #slogan {
    float: left;
    margin-top: 40px;
}


header #slogan h1 em {
    display: block;
    margin-top: -10px;
}


/* navigatie css */

#topnav {
    min-height: 60px;
    width: 100%;
    display: block;
}

.login {
    margin-right: 10px;
    margin-top: 10px;
}

.login div {
    float: left;
    margin-left: 20px;
}

.login label {
    display: block;
    float: left;
    clear: both;
}

.login input {
    float: left;
    clear: both;
}


.login input[type=email],
.login input[type=password] {
    /*background-color: #ffc8ce;*/
    border: 1px solid;
    padding-top: 2px;
}

.login input[type=submit] {
    border-radius: 2px;
    border: 1px solid;
    padding: 2px 10px 0 10px;
}

.login .aanmelden {
    margin-top: 18px;


}

.profielfoto {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.gebruikernaam {
    margin-top: 20px;
}



#topnav ul {
    list-style: none;
}

#topnav ul li {
    display: inline-block;
    box-sizing: border-box;
    float: right;
    margin-top: 20px;
    position: relative;
}

#topnav a {
    display: block;
    padding: 0 10px;
}

#topnav a.instellingen {
    height: 40px;
    width: 40px;
    background: url('../images/gear.png') no-repeat;
    background-size: 100% 200%;
    padding: 0;
    margin-top: -10px;
}

#topnav a.instellingen:hover {
    background-position-y: -40px;
}


/* submenu */

#topnav li>ul {
    position: absolute;
    z-index: 3;
    float: none;
    top: 30px;
    right: 0;
    display: none;
}

#topnav ul li:hover>ul {
    display: block;
}

#topnav li>ul li {
    clear: both;
    margin: 0;
    float: right;
}




#topnav li>ul li {
    width: 100%;
    text-align: right;
    padding: 5px 0 5px 5px;
    border: 1px solid;
    border-bottom: none;
}

#topnav li>ul li:last-child {
    border-bottom: 1px solid;

}


/* MAIN */


main h2 {
    margin-bottom: 20px;
}

main p {
    margin-bottom: 20px;
}


/* 2 COL STRUCTURE */


/* COL1 */

.col1,
.col2 {
    box-sizing: border-box;
    padding: 10px;
}


/* COL2 */

.col1 {
    width: 12.5%;
}


/* kolom navigatie */

.profileNav ul li {

   /* display: block;*/
   /* cursor: pointer;*/

}

.profileNav ul li a {
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 15px 10px;
    overflow: hidden;

}

.profileNav ul li a.active {
   /* padding-bottom: 3px;*/
  /*  border-bottom: 1px solid;*/
    text-decoration: underline;
}

.profileNav ul li:hover a {

    text-decoration: underline;
   /* border-bottom: 1px solid;*/
}



.col2 {
    width: 87.5%;
}

.col {
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
}

.col:first-child {
    padding-left: 0;
}

.col:nth-child(2) {
    padding-right: 0;
}

.padbox {
    padding: 10px;
}


/* footer */

footer {

}


/******* Registreren *********/

main>h1 {
    text-align: center;
    padding-top:2%;
}

#registreer {
    margin: auto;
    width: 25em;
}

#registreer label,
#registreer fieldset {
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
}

#registreer fieldset {
    margin-top: 4%;
    border: none;
    clear: both;
}

#registreer label,
#registreer input {
    float: left;
}

#registreer label {
    margin-bottom: 1%;
    width: 10em;
    clear: left;
}

#registreer input {
    width: 50%;
}

#registreer input[type=submit] {
    padding: 3px 10px;
    cursor: pointer;
    margin: 5% 5% 5% 25%;
}

#registreer label input {
    float: none;
    display: inline-block;
}
#registreer textarea{
    margin: auto;
    width: 50%;
    padding:2%;
    display: block;
}
#registreer li{
    list-style: none;
    width: 50%;
    margin: auto;
}

#registreer img{
    width: 25em;
   height: 25em;
   left:-50%;
   position:relative;
    border-radius: 50%;
}
#registreer p {
    margin-top: 2em;
}

#registreer .verberg{
    display: none;
}

#registreer .meerdere{
    margin:auto;
    display: block;
    /*outline: red 5px dotted;*/
    width: 100%;
}

#registreer .meerdere img{
    width: 5em;
    height: 5em;
    left:0;
    border-radius: 50%;
    display: inline-block;

   /* outline: red 5px dotted;*/
}
#registreer li:hover{
    background-color:#881f2b ;
    color:  #ffc8ce;

}


/* OPMAAK FORMS VOORKEUREN / KENMERKEN / GEBRUIKERISNTELLINGEN */

main {
    min-height: 800px;
}

main label,
fieldset {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

main form p {
    box-sizing: border-box;
    display: block;
    margin-top: 20px;
    max-width: 70%;
}

main label:first-child,
fieldset {
    margin-top: 0;
}

select {
    margin-top: 20px;
}

main label input,
main label select {
    float: right;
    display: block;
}

fieldset {
    float: left;
    border: none;
    clear: both;
    width: 100%;
}

fieldset div {
    float: right;
    padding-left: 10px;
}

label em {
    float: right;
}

input[type=text],
input[type=date],
input[type=radio],
input[type=submit],
input[type=password],
input[type=email],
select {
    border: 1px solid;
    padding-top: 2px;
    padding-left: 2px;
}

input[type=text],
input[type=date] input[type=password],
select {
    width: 200px;
}

main input[type=submit] {
    padding: 3px 10px;
    cursor: pointer;
}




.error:before {
    content: "* ";
}




.regError:before {
    content: "* ";
}



/* chosen multibox */

.chosen-container {
    margin-top: 20px;
    width: 100%;
}


/* RADIO STYLING */


/* RANGE SLIDER */

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}



input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 5px;
    cursor: pointer;
    margin-top: -9px;
    border: 1px solid #ffc8ce;
}


/************* EINDE STRUCTUUR *********************/

/************* GENERIC CLASSES *********************/

/* Floats */

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
    padding-top: 10px;
}

/* clearfix */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/************* EINDE CLASSES *********************/

/**** @CSS STIJN ****/

/******** Matches *********/


/* Kleuren */

.matches {
    border-top-color: #ffc8ce;
   background: white;
}

.matches h1{
    color: #881f2b;
}

ul {
    border-bottom-color: #881f2b;
    color: #881f2b;
}


/* Structuur */

.matches {
    border-top-style: solid;
    border-top-width: 5px;
    /* outline: red 1px dotted;*/
    padding-bottom: 2em;
}

.matches h1 {
    margin: 1em;
    text-align: center;
}

.matches .profielFoto {
    width: 10em;
    height: 10em;
    /* outline: red 1px dotted;*/
}

.matches .profielFoto img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.matches ul {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    list-style: none;
    clear: left;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
    padding: 1em;
}

.matches ul:last-child {
    border: none;
}

.matches ul li {
    float: left;
    margin-right: 1em;
    clear: right;
    /*width: 15%;*/
}
.matches ul:hover {
    background-color:#881f2b ;
    color:  #ffc8ce;
    cursor: pointer;
}
.matches input[type=checkbox]{
    top: 1.5em;
    right:1em;
    position: relative;
    /*outline: red 5px dotted ;*/
    margin: 0;
    padding:0;
}

.matches .rechts {
    float: right;
}
main .matches input[type=submit]{
    margin: auto;
    width:25%;
    display: block;
    
    font-size: 2em;
}

/***** RESPONSIVE ******/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 470px) {
    /* Styles */
    .container {
        width: 100%;
    }

    header #logo {
        box-sizing: border-box;
        width: 50vw;
        float: none;
        height: 100%;
        margin: 0 auto;
    }

    .col1 {
        width: 100%;
        margin: 0;
        padding: 0;

    }

    .col2 {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .col {
        width: 100%;
        margin: 0;
        padding: 0;

    }

    .padbox {

    }

    input[type=text],
    input[type=date],
    input[type=radio],
    input[type=submit],
    input[type=password],
    input[type=email],
    select {
        clear: both;
        float: left;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }



    .login {
        margin-right: 0;
        margin-top: 0;
    }

    .login div {
        float: left;
        margin-left: 0;
        width: 100%;
    }

    .login label {
        display: block;
        float: left;
        clear: none;
    }

    .login input {
        float: left;
        clear: none;
    }


    .login input[type=email],
    .login input[type=password] {
        /*background-color: #ffc8ce;*/
        border: 1px solid;
        padding: 0;
        margin: 0;
        width: 50%;
        float: right;


    }

    .login input[type=submit] {
        border-radius: 2px;
        border: 1px solid;
        padding: 0;
        margin: 0;
    }

    .login.responsive {
        padding: 20px;
    }

    .login .aanmelden {
        display: block;
        float: left;


    }

    fieldset div {
        padding: 0;
    }







}








