<!DOCTYPE html>
<html>
<!-- head twig bevat alle links naar script en css stylesheet -->
{{ include('head.twig') }}

<body>
    {{ include('header.twig') }}
    <!-- Standaard containers die gebruikt worden -->
    <div class="container main clearfix">
        <main class="clearfix">
            <h1>Er is iets fout gelopen.</h1>
            <div id="registreer">
            <p>Terug naar 
            <a href="http://localhost/matches.php">matches</a>.</p>
            </div>
        </main>
    </div>
    {{ include('footer.twig') }}
</body>

</html>