<!DOCTYPE html>

{{ include('head.twig') }}

<body>




    {{ include('header.twig') }}

    <div class="container main clearfix">
    <main class="clearfix">
        <div class="col1 left">

                <nav class="profileNav">
                   <ul>
                        <li><a href="kenmerken.php">Kenmerken</a></li>
                        <li><a href="voorkeuren.php">Voorkeuren</a></li>
                        <li><a class="active" href="gebruikerinstellingen.php">Instellingen</a></li>
                   </ul>
               </nav>

        </div>


        <div class="col2 right">
            <div class="padbox clearfix">
                <h2>Instellingen</h2>
                <p>Opties</p>

                <p><em>Wachtwoord wijzigen<em></p>

                <form action="wijzigwachtwoord.php" method="POST">
                    <label for="oudWW">Oud Wachtwoord
                        <input type="password" name="oudWW">
                    </label>
                    <label for="nieuwWW">Nieuw Wachtwoord
                        <input type="password" name="nieuwWW">
                    </label>
                    <label for="nieuwWW2">Herhaal Nieuw Wachtwoord
                        <input type="password" name="nieuwWW2">
                    </label>

                    <input type="submit" name="wwWijzigen">

                </form>




            </div>
         </div>

    </main>
    </div>

    {{ include('footer.twig') }}



</body>
</html>
