    <div class="container clearfix">
    <header class="clearfix">
        <div id="logo"><img src="images/LogoDef.svg" alt="logo"></div>
        <div id="slogan">
            <h1>
                <!-- Niet vergeten entiteit nummers te gebruiken -->
                LOVE LONG &#38; <em>PROSPER</em>
            </h1>
        </div>
    </header>
    <nav id="topnav">

         {% if not gebruiker %}

             <div class="login right">
                    <form action="controlLogin.php" method="post">
                        <div>
                            <label for="email">Email</label>
                            <input type="email" name="email" required>
                        </div>

                        <div>
                            <label for="wachtwoord">Wachtwoord</label>
                            <input type="password" name="wachtwoord" required>
                        </div>

                        <div>
                            <label><a href="#">Wachtwoord vergeten?</a></label>
                            <input type="submit" value="Aanmelden" name="login">
                        </div>

                    </form>

                </div>

        {% else %}

        <div class="left">
            <img src="images/profielfoto.jpg" class="profielfoto left">
            <p class="left gebruikernaam">{{ gebruiker.voornaam }} {{ gebruiker.naam }}</p>
        </div>

        <nav  class="clearfix right">

            <ul class="clearfix">
                <li><a href="gebruikerinstellingen.php" class="instellingen"></a>
                    <ul>
                        <li><a href="kenmerken.php">Kenmerken</a></li>
                        <li><a href="voorkeuren.php">Voorkeuren</a></li>
                        <li><a href="gebruikerinstellingen.php">gebruikerinstellingen</a></li>
                        <li><a href="loguit.php">Afmelden</a></p>
                    </ul>
                    </li>
                <li><a href="matches.php">Matches</a></li>
                <li><a href="#">Placeholder</a></li>
            </ul>
         </nav>

        {% endif %}
        
    </nav>
    </div>

