<!doctype html>

<html lang="en">
    <header class="clearfix">
        <div id="logo"><img src="images/LogoDef.svg"></div>
        <div id="slogan">
            <h1>
                LOVE LONG & <em>PROSPER</em>
            </h1>
        </div>
    </header>
    <nav id="topnav" class="">
        <div class="login right">
            <form action="controlLogin.php" method="post">
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" required>
                </div>

                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" required>
                </div>

                <div>
                    <label><a href="#">Wachtwoord vergeten?</a></label>
                    <input type="submit" value="Aanmelden" name="submit">
                </div>

            </form>

        </div>


    </nav>

