<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link href="style.css" rel="stylesheet" type="text/css"/>
        <title>twig test2</title>
        <style>
            h1{
                margin-top: 25px;
            }
            </style>
    </head>

    <body>
        {% if email %}
            <p> U bent ingelogd, {{email.voornaam}}</p>
        {% else %} <p>Niet ingelogd</p>
        {% endif %}     
        
       
    </body>

</html>