

<!DOCTYPE html>
{{ include('head.twig') }}

    <body>
        {{ include('header.twig') }}
        {{ include('login.twig') }}
        
        {{ include('registreer.twig') }}
       
    </body>

</html>