{% extends "index.twig" %}

{% block content %}
        {% if email %}
            <p> U bent ingelogd, {{email.voornaam}}</p>
        {% else %} <p>Niet ingelogd</p>
        {% endif %}     
{% endblock %}