<!DOCTYPE html>
<html>
<!-- head twig bevat alle links naar script en css stylesheet -->
{{ include('head.twig') }}

<body>
{{ include('header.twig') }}
<!-- Standaard containers die gebruikt worden -->
<div class="container main clearfix">
    <main class="clearfix">
        <div class="center">
            <h1>Fout bij aanmleden</h1>
            <p>Login of paswoord fout</br>
                Probeer opnieuw!</p>
        </div>
    </main>
</div>
{{ include('footer.twig') }}
</body>

</html>