

{% if gebruiker %}

{%else%}
    <form action="controlLogin.php" method="post" name="frmLogin" class="responsive clearfix">
        <label for='email'>email</label>
        <input type="email" name="email" id="email" placeholder="email" class="required">

        <label class="wachtwoord"></label>
        <label for='wachtwoord'> wachtwoord</label>
        <input type="password" name="wachtwoord" id="wachtwoord" placeholder="wachtwoord" class="required">   

        <input type="submit" value="login" name="login">
    {% endif %}
</form>