<!DOCTYPE html>
<html>
<!-- head twig bevat alle links naar script en css stylesheet -->
{{ include('head.twig') }}

<body>
{{ include('header.twig') }}
<!-- Standaard containers die gebruikt worden -->
<div class="container main clearfix">
    <main class="clearfix">
        <div class="center">
            <h1>Geregistreerd!</h1>
            <p>Je bent succesvol geregisteerd.</br>
            Je kan u nu aanmelden.</p>
        </div>
    </main>
</div>
{{ include('footer.twig') }}
</body>

</html>